
<div class="container foot">
    <div class="row">
        <div class="abc col-sm-2">
            <h6 class="def"> Learning </h6>
            <ul>
                <li> <a href="#"> Training </a></li>
                <li> <a href="#"> Security </a></li>
                <li> <a href="#"> Status </a></li>
            </ul>
        </div>
            
        <div class="abc col-sm-2">
            <h6 class="def">Reference</h6>
            <ul>
                <li> <a href="#"> Privacy Policy </a></li>
                <li> <a href="#"> Terms of Use </a></li>
                <li> <a href="#"> Accessibility </a></li>
                <li> <a href="#"> Open Source </a></li>
            </ul>
        </div>
        <div class="col-sm-4">
        <img class="icon" src="/assets/git_footer.png" alt="GitHub">
        <h6 class="copyright"> © 2017 GitHub, Inc </h6>
        </div>
            
        <div class="abc col-sm-2">
            <h6 class="def"> Company </h6>
            <ul>
                <li> <a href="#"> Partners </a></li>
                <li> <a href="#"> Jobs </a></li>
                <li> <a href="#"> About Us </a></li>
            </ul>
        </div>
            
        <div class="abc col-sm-2">
            <h6 class="def"> More </h6>
            <ul>
                    <li><a href="#">Shop</a></li>
                    <li> <a href="#"> Contact GitHub </a></li>
                    <li> <a href="#"> Jobs </a></li>
                    <li> <a href="#"> API </a></li>
            </ul>
        </div>    
    </div>
</div>
